app = "masitaprexv2"
primary_region = "mia"

[build]

[[services]]
  protocol = "tcp"
  internal_port = 80
  processes = ["app"]
  
  # CAMBIO CLAVE: 'stop' permite usar el kill_timeout
  auto_stop_machines = 'stop' 
  auto_start_machines = true
  min_machines_running = 0
  # Esto evita que la web se "duerma" por 20 minutos
  kill_timeout = "20m" 

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.concurrency]
    type = "requests"
    soft_limit = 100
    hard_limit = 150

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512
