app = 'masitaprexv2'
primary_region = 'mia'

[build]

[[services]]
  protocol = "tcp"
  internal_port = 80
  processes = ["app"]
  
  # El servidor esperará 20 minutos de inactividad antes de detenerse
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  kill_timeout = "20m" 

  [[services.ports]]
    port = 80
    handlers = ["http"]
    # Redirige todo el tráfico inseguro a HTTPS automáticamente
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.concurrency]
    type = "requests"
    soft_limit = 100
    hard_limit = 150

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
