# El nombre de tu aplicación en Fly.io
app = "consulta-pe-webhooks-api"

# El builder a usar (usaremos Dockerfile)
kill_signal = "SIGINT"
kill_timeout = 5
primary_region = "lim" # Asumiendo Lima (Perú) como región principal

[build]
  builder = "heroku/buildpacks:20"

[env]
  PORT = "8080" # Establecemos el puerto por defecto para que coincida con index.js

[[services]]
  http_checks = []
  internal_port = 8080
  protocol = "tcp"
  script_checks = []
  
  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80
    
  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
    
  [[services.handles]]
    graceful_shutdown = 5000
    metrics_path = "/metrics"
    open_conn_timeout = 2000
    
  [[services.tcp_checks]]
    interval = "15s"
    timeout = "2s"
